
.header, .footer {
    background-color: #4A4A4A;
    padding: 1rem;
    text-align: center;
    color: #6A0572;
    font-family: 'Freckle Face', cursive;
}

.cabin-sketch-regular {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cabin-sketch-bold {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }  

main {
    display: flex;
    background-color: #A8E6CF;
    padding: 1rem;
    text-align: center;
    color: #6A0572;
    font-family: 'Cabin Sketch', cursive;
}

.freckle-face-regular {
    font-family: "Freckle Face", system-ui;
    font-weight: 400;
    font-style: normal;
  }

h1 {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

nav {
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    padding: 0 12rem 0rem 0;
}
  
.nav-links {
    list-style: none;
    display: flex;
}
  
.nav-links a {
    text-decoration: none;
    color: #6A0572;
    font-weight: bold;
    font-size: 18px;
}

.logo {
    font-family: "Cabin Sketch", sans-serif;
    font-weight: 700;
    font-style: normal;
    display: flex;
    justify-content: flex-start;
    padding: 0 0 0 12rem;
    font-size: 24px;
}

